//@import 'x-eventpromo/dist/Eventpromo';
//@import 'node_modules/@financial-times/x-eventpromo/dist/Eventpromo';
//@import '~@financial-times/x-eventpromo/dist/Eventpromo';
@import '~@financial-times/x-eventpromo/dist/Eventpromo';
