@import "n-ui-foundations/main";
@import 'o-buttons/main';

.event-promo {
	margin-bottom: 50px;
	max-width: 700px;
}

.event-promo {
	.n-image-wrapper--placeholder.n-image-wrapper--lazy-loading:before {
		animation: none;
	}
}
.event-promo__title-block {
	@include oGridRespondTo($from: M) {
		max-width: 50%;
	}
	@include oGridRespondTo($until: M) {
		order:1;
		max-width: 100%;
		padding: 0 10px;
		position: absolute;
		background-color: getColor('paper');
		z-index: 12;
		top: 200px;
		align-self: center;
	}
}
.event-promo__title {
	@include oGridRespondTo($from: M) {
		margin:0 0 5px;
		@include oTypographyDisplayBold($scale: 6);
	}
	@include oGridRespondTo($until: M) {
		margin-bottom: 0;
		@include oTypographyDisplayBold($scale: 4);
	}
}

.event-promo__location {
	@include oTypographyDisplay($scale: 1);
	text-transform: uppercase;

}

@import './styles/inarticle';
