@import "n-ui-foundations/main";
@import 'o-buttons/main';

.event-promo {
	margin-bottom: 50px;
	max-width: 700px;
}

.event-promo {
	.n-image-wrapper--placeholder.n-image-wrapper--lazy-loading:before {
		animation: none;
	}
}
.event-promo__title-block {
	max-width: 50%;
}
.event-promo__title {
	margin:0 0 5px;
	@include oTypographySerif(1);
	font-size: 40px;
	line-height: 1.2em;
	font-weight: bolder;
}

@import './styles/inarticle';
