@import "n-ui-foundations/main";
@import 'o-buttons/main';

$o-fonts-is-silent: false;
@import 'o-fonts/main';

$o-fonts-is-silent: false;
@import 'o-fonts/main';

$ep-standard-space: 20px;
$ep-half-space: $ep-standard-space/2;

@include oFontsInclude(MetricWeb, $weight: light);

.event-promo__title {
  display: inline-block;
  @include oTypographyDisplayBold($scale: 5);
  //padding: 2px 0;
  color: inherit;
  text-decoration: none;
  border: 0;
  padding-bottom: 8px;

  @include oGridRespondTo($until: S) {
	margin-bottom: 0;
  }

  @include oGridRespondTo($from: M) {
	@include oTypographyDisplayBold($scale: 6);
  }

  @include oGridRespondTo(L, XL) {
	@include oTypographyDisplayBold($scale: 5);
  }
}

.event-promo__meta {
  @include oTypographySans($scale: 2);
  font-weight: 300;

  @include oGridRespondTo($until: S) {
	@include oTypographySans($scale: 3);
  }

  p {
	margin: 0;
  }
}

.event-promo__visually-hidden {
  @include oNormaliseVisuallyHidden();
}

@import './styles/inarticle-dark';
@import './styles/animation';
