.event-promo--variant {

	.fade-0 {
		z-index: 1;
		animation: fade 16s 4s infinite;
	}
	.fade-1 {
		z-index: 0;
		animation: fade 16s 8s infinite;
	}
	.fade-2 {
		z-index: -1;
		animation: fade 16s 12s infinite;
	}

	.paused {
		animation-play-state: paused;
	}
	@keyframes fade {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
