//Separated out because they are not currently used but might be
.event-promo-inarticle__tags {
  display: flex;
  @include oTypographySans($scale: 0);
  padding-top: $ep-standard-space *2;
  span {
	padding-right: $ep-standard-space/2;
	&::before {
	  content: '•';
	  padding-right: $ep-standard-space/2;
	}
  }
  :first-child::before {
	content: '';
	padding-right: 0;
  }
  @include oGridRespondTo($until: S) {
	padding-top: $ep-standard-space *1.5;
  }
}
