//inarticle newsletter replacement block
.event-promo-inarticle {
	margin-top: 30px;
	display: flex;
	position: relative;
	@include oGridRespondTo($from: S) {
		//padding: $ep-standard-space $ep-standard-space 0;
	}
	@include oGridRespondTo($until: S) {
		flex-direction: column;
		padding: 0;
	}
}
.event-promo-inarticle__blocks {
	display: flex;

	@include oGridRespondTo($until: S) {
		flex-direction: column;
	}
}

.event-promo__details {
	background-color: rgba(38, 43, 51, 0.9);
	color: getColor('white');
	z-index: 10;

	padding:$ep-standard-space;
	@include oGridRespondTo($from: S) {
		width: 400px;
		//height: 280px;
	}
	@include oGridRespondTo($until: S) {
		max-width: 100%;
		margin-top:-$ep-standard-space*2;
		margin-left: $ep-half-space;
		margin-right: $ep-half-space;
		margin-bottom: 0;
		padding:$ep-standard-space;
		padding-bottom:$ep-half-space;
	}
}



.event-promo-inarticle__img-block {
	@include oGridRespondTo($until: S) {
		order:-1;
	}
	a {
		border-bottom:none;
	}
}

.event-promo-inarticle__img {

	@include oGridRespondTo($from: S) {
		margin-left: -100px;
		z-index:-1;
		width:400px;
		height:226px;
	}
	@include oGridRespondTo($until: S) {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		order: -1;
	}
}

.event-promo-inarticle__tags {
	display: flex;
	@include oTypographySans($scale: 1);
	padding-top:  $ep-standard-space *2;

	span {
		padding-right: $ep-standard-space;
	}

	@include oGridRespondTo($until: S) {
		padding-top:  $ep-standard-space *1.5;
	}
}

.event-promo-inarticle__cta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: $ep-standard-space;
	padding-bottom: $ep-half-space;

	@include oGridRespondTo($until: S) {
		margin-bottom: $ep-half-space;
		margin-top:0;
		border-top: none;
		padding: 0;
	}

	@include oGridRespondTo($until: S) {
		flex-direction: column;
	}

	@include oGridRespondTo($from: L, $until:XL) {
		margin-top:0;
	}

	> div {
		@include oGridRespondTo($until: S) {
			justify-content: center;
			margin-top: $ep-half-space;
		}
	}

}

.event-promo-inarticle__btn-block {
	@include oGridRespondTo($until: S) {
		width: 100%;
	}
}

.event-promo-inarticle__btn {
	@include oButtons();
	@include oButtonsTheme(primary);
	@include oButtonsSize(big); //event btn style overrides

	@include oGridRespondTo($from: S) {
		@include oTypographySans($scale: 2);
	}

	@include oGridRespondTo($until: S) {
		width:100%;
	}
}

.event-promo-inarticle__brand {
	display: flex;
	align-items: center;
	@include oTypographySans($scale: -2);
	span {
		padding-right: $ep-half-space;
	}
	&::after {
		display: inarticle-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50%;
		background-color: transparent;
		content: ' ';
		width: 60px;
		height: 60px;
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/specialisttitle-v1:brand-live-ft-logo?source=n-eventpromo')
	}
	@include oGridRespondTo($until: S) {
		align-self: flex-end;
	}
}
