//inarticle newsletter replacement block
.event-promo-inarticle {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  @include oGridRespondTo($from: S) {
	padding: $ep-standard-space $ep-standard-space 0;
	border: 1px solid getColor('black-20');
  }
  @include oGridRespondTo($until: S) {
	padding: 0;
  }
}

.event-promo-inarticle__blocks {
  display: flex;
  @include oGridRespondTo($until: S) {
	flex-direction: column;
  }
}

.event-promo-inarticle__img-block {
  a {
	border-bottom: none;
  }
}

.event-promo-inarticle__img {
  width: 42%;
  @include oGridRespondTo($from: S) {
	position: absolute;
	top: -$ep-standard-space;
	right: $ep-standard-space;
  }
  @include oGridRespondTo($until: S) {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	order: -1;
  }
}

.event-promo-inarticle__cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: $ep-standard-space;
  padding-bottom: $ep-standard-space;

  @include oGridRespondTo($from: S) {
	margin-top: 15px;
  }

  @include oGridRespondTo($until: S) {
	margin-bottom: $ep-half-space;
	margin-top: 0;
	margin-right: $ep-half-space;
	margin-left: $ep-half-space;
	border: 1px solid getColor('black-70');
	border-top: none;
	padding: 0 $ep-standard-space $ep-standard-space;
  }

  @include oGridRespondTo($until: S) {
	flex-direction: column;
  }

  @include oGridRespondTo($from: L, $until: XL) {
	margin-top: 0;
  }

  > div {
	@include oGridRespondTo($until: S) {
	  justify-content: center;
	  margin-top: $ep-standard-space;
	}
  }

}

.event-promo-inarticle__btn-block {
  @include oGridRespondTo($until: S) {
	width: 100%;
  }
}

.event-promo-inarticle__btn {
  @include oButtons();
  color: getColor('black-70');
  border: 1px solid getColor('black-70');
  @include oButtonsSize(big); //event btn style overrides

  @include oGridRespondTo($from: S) {
	@include oTypographySans($scale: 2);
  }

  @include oGridRespondTo($until: S) {
	width: 100%;
  }
}

.event-promo-inarticle__brand {
  display: flex;
  align-items: center;
  @include oTypographySans($scale: -2);
  span {
	padding-right: $ep-half-space;
  }
  &::after {
	display: inarticle-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-color: transparent;
	content: ' ';
	width: 60px;
	height: 60px;
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/specialisttitle-v1:brand-live-ft-logo?source=n-eventpromo')
  }
  @include oGridRespondTo($until: S) {
	align-self: flex-end;
  }
}
