//inline newsletter replacement block
.event-promo-inline {

	margin-top: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	border: 1px solid getColor('black');
}

.event-promo-inline__img {
	position: absolute;
	right: -5%;
	bottom: -15%;
	max-width: 50%;
}

.event-promo-inline__description {
	display: inline-block;
	flex-grow: 1;
	margin-top: 12px;
}

.event-promo-inline__submit {
	@include oButtons();
	@include oButtonsSize(big);
	margin: 16px 16px 16px 0;
}
